.navbar {
  width: 100vw;
  background: rgba(24, 24, 19, 0.7);
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}
.navbar__menu {
  margin: 0 0.5rem;
}
.navbar__Icon {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.navbar__icon--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar__input {
  margin: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
}
.navbar__input--input {
  margin-top: 2px;
  outline: none;
  border: none;
}
.navbar__btns {
  display: none;
}
@media (min-width: 550px) {
  .navbar__menu {
    display: none;
  }
  .navbar__input {
    flex: 1;
    margin-right: 1rem;
  }
  .navbar__input--input {
    margin-left: 5px;
    flex: 1;
  }
  .navbar__btns {
    display: block;
    margin-right: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__btns--btn {
    margin-right: 0.5rem;
  }
  .navbar__btns--dropdown {
    background-color: #ffb338;
    width: 110px;
    height: 30px;
    font-size: 12px;
    border-radius: 50px;
    padding: 0 10px;
  }
}
