.button__btn {
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background-color: #ffb338;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  font-weight: 600;
}
.button__nav {
  width: 60px;
  height: 30px;
  font-size: 8px;
}
@media (min-width: 550px) {
  .button__btn {
    width: 210px;
    height: 45px;
    font-size: 20px;
  }
  .button__nav {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
}
