* {
  margin: 0;
}
.app__Loading {
  margin: 4rem;
}
.app__navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.app__banner {
  margin-top: 50px;
}
.app__backdrop {
  width: 100% !important;
  height: 100% !important;
  z-index: 2 !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  text-align: left !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

@media (min-width: 550px) {
  .app__banner {
    margin-top: 2rem;
  }
}
