* {
  margin: 0;
}
.app__navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.app__banner {
  margin-top: 50px;
}
@media (min-width: 550px) {
  .app__banner {
    margin-top: 2rem;
  }
}
